@import './base';

.navbar {
    background-color:transparent;
    .navbar-brand {
        color:#000;
        
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            color:#ffffff;
        }
    }
    .navbar-collapse {
        justify-content:center;
        font : {
            family:'verdana',sans-serif;
            weight:normal;
            size:1.2em;
        }
        .navbar-nav {
            a {
                color:#000;
            }
            &.active {
               text-decoration: underline; 
            }
        }
    }
}
.loading {
    position:fixed;
    width:100%;
    height:100vh;
    top: 0;
    left: 0;
    background:#fff url('../gif/loading.gif') no-repeat center center;
    background-size:10%;
}
@mixin btn-property($backgroundColor, $color) {
    background-color: $backgroundColor;
    color:$color;
    border-radius:0.75em;
    border:none;
    padding:0.75em;
    transition:all .3s;
}
@mixin btn-outline-property($backgroundColor, $color) {
    background-color: $backgroundColor;
    color:$color;
    border-radius:0.75em;
    border:1px solid $color;
    padding:0.75em;
    transition:all .3s;
}
.btn-main {
    @include btn-property($mainColor, #ffffff);
    max-width:250px;
}
.btn-outline-main {
    @include btn-outline-property(#ffffff, $mainColor);
    max-width: 250px;
    &:hover {
        @include btn-outline-property($mainColor, #ffffff);
    }
}
 

.main_heading_section {
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:25px;
    h2 {
        color:$mainColor;
        font: {
            size:5em;
            weight:650;
        }
        
    }
    p {
        font-size:1.2em;
    }
}
.main_pic {
    background-image:url('../images/home.jpg');
    min-height:100vh;
    background-size:cover;
}
.main_pic  {
    .container {
        .main {
            h1 {
                font: {
                    size:72px;
                    weight:800;
                }
                span {
                    color:rgb(0, 136, 255);
                }
            }
        }
        
        .search_bar {
            display:flex;
            justify-content:center;
            input {
                width:80%;
                margin:auto;
                border:none;
                border-radius:1.5em;
                padding:10px;
                padding-inline:2em;
                :focus {
                    border:lime;
                }
            }
            
        }
        
    }
    
}

.direct_section {
    .container-fluid {
        .row {
            gap:40px;
            .direct_item {
                border-radius:.8em;
                background-color:#e4f3ff;
                text-align:center;
            }
        }
    }
}

.bestseller {
    .row {
        .card {
            display:flex;
            flex-direction:column;
            align-content:space-between;
            border:none;
            .card-img-top img{
                -webkit-aspect-ration:16/9;
            }
            .card-body {
                p {
                    padding-top:1.2em;
                    text-align:center;
                }
            }
        }

    }
}

.container {
    .row {
        .items {
            img {
                width:100%;
                object-fit:cover;
            }
        }
    }
}

